<p id="notice"><%= notice %></p>

<p class="thumbnails">
  <div class="span9">
  	<div class="thumbnail">
  <%=image_tag(@picture.image_url,:size=>"600x500")%>
</div>
</div>
</p>


<%= link_to 'Edit', edit_folder_picture_path(@folder,@picture) %> |
<%= link_to 'Back', folder_pictures_path %>
