/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*div#user_nav{
 	background-color: rgb(150, 240, 150);
 	border-style:inset;
 	border-bottom-left-radius:10px; 
 	border-bottom-right-radius:10px

 }
 b.cancel{
 	text-align: right;
 }
 font.sign{
 	font-size: 10px;
 }
.container {
 	height: 150px;
 	width: 100px;

  background-color: grey;
  padding: 20px 40px;
}
.image_holder{
height: 100px;
width: 90px;
padding: 
}
.album_name_holder{

}
.album_desc_holder{

}*/

